.delete-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(225, 33, 33);
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    display: inline-block;
  }
  
  .delete-button:hover {
    background-color: #cb1201; 
  }
  

   .loading-spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #007bff; /* Red */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  } 
  
   @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 
  